<form action="/ten/add/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<table>
    <tr><th>Previous Numbers</th></tr>
    {% for num in last10 %}
    <tr>
        <td>{{ num.number }}</td>
    </tr>
    {% endfor %}

</table>
